<div id="pos">
	<div class="bg" ng-class="{highlight:pos.showDashboard}"></div>
	<div class="content" ng-controller="Bills as bills" ng-init="pos.bills=bills" barcode-listener>
		<div id="topbar">
			<div id="search">
				<input type="text" ng-model="pos.search" ng-focus="pos.searching=true" ng-blur="">
			</div>
			<h1>Bilkova</h1>
			<div class="btns">
				<div class="btn icon icon_dashboard" ng-class="{on:pos.showDashboard}" hm-tap="pos.showDashboard=!pos.showDashboard"></div>
				<div class="btn" hm-tap="userDropdown=!userDropdown"><div class="text">martin</div></div>
				<div class="btn icon icon_settings"></div>
				<div class="btn icon icon_fullscreen" hm-tap="pos.fullscreen()"></div>
			</div>

			<div class="user dropdown" ng-show="userDropdown">
				<a href="#/users">Switch user</a>
				<a href="#/logout">Logout</a>
			</div>
		</div>

		<div id="leftbar">
			<div class="fixer"></div>
			<a 
				class="btn {{category.key}}"
				ng-class="{on: pos.currentCategoryIndex==$index}"
				ng-repeat="category in pos.categories | limitTo:6" 
				hm-tap="pos.show({{$index}})"></a>
			<div class="bottom">
				<a class="btn newbill notog" hm-tap="bills.newBill(); pos.showDashboard=false;"></a>
			</div>
		</div>
		
		<div id="list" ng-hide="pos.showDashboard" ng-class="{fade:pos.dragging.on||bills.allUp, resizing:pos.itemToResize!==null}">
			<div class="scroll" drag-board>
				<div 
					class="groups fx-fade-left fx-easing-back fx-speed-500"
					ng-repeat="category in pos.categories"
					ng-show="pos.currentCategoryIndex==$index && !(pos.searching && pos.search.length>0)"
					style="width:{{category.groups.data.length*310+310}}px"

					>
					<div class="group" ng-repeat="group in category.groups.data">
						<h3>{{group.name}}</h3>
						<div class="items" win-height-minus="210">
							<div 
								class="item" 
								ng-class="{medium:item.size==2, large:item.size==3, resizing:pos.itemToResize===item}"
								ng-repeat="item in group.items.data"
								hm-tap="bills.addToCurrent(item)"
								hm-hold="pos.setResizeItem(item)"
								>
								<div class="resize icon icon_pointer" hm-tap="pos.resizeItem(item)"></div>
								{{item.name}}
								</div>
						</div>
					</div>
				</div>

				<div
					class="search-results fx-fade-left fx-easing-back fx-speed-500"
					ng-show="pos.searching && pos.search.length>0"
					>
					<div class="group">
						<div 
							class="item" 
							hm-tap="bills.addToCurrent(item)"
							ng-repeat="item in pos.searchResults | filter:pos.search">{{item.name}}</div>
					</div>
					
				</div>
			</div>
		</div>

		<div id="bills" 
			ng-show="bills.opened.length>0&&!pos.showDashboard" 
			ng-class="{open:bills.billBoard.opened}" 
			win-height-minus="55"
			bill-puller
			>
			<div class="holder">
				<div class="list" drag-board-custom style="width:{{bills.opened.length*335+134}}px; right:{{bills.boardX}}px">
					<bill
						ng-repeat="bill in bills.opened"
						bill="bill"
						ng-class="{collapsed: bills.opened[bills.current]!=bill && bills.billBoard.opened==false, highlight:dragging.on}"
						draggable="bills.opened[bills.current]!=bill"
						bill-top
						pull-adjacent-bill
						></bill>
				</div>
			</div>
		</div>
	</div>
</div>