<div id="pos">
	<div ng-controller="Bills as bills" ng-init="pos.bills=bills">
		<div id="topbar">
			<search></search>
			<h1>Bilkova</h1>
			<div class="btns">
				<div class="btn">martin</div>
				<div class="btn icon icon-settings"></div>
				<div class="btn icon icon-fullscreen"></div>
			</div>
		</div>

		<div id="leftbar">
			<a 
				class="btn {{category.key}}"
				ng-class="{on: pos.currentCategoryIndex==$index}"
				ng-repeat="category in pos.categories" 
				hm-tap="pos.show('categories',{{$index}})"></a>
			<div class="bottom">
				<a class="btn newbill" hm-tap="bills.newBill()"></a>
			</div>
		</div>
		
		<div id="list" ng-hide="pos.shown=='bills'" ng-class="{fade:pos.dragging.on}">
			<div class="scroll" drag-board>
				<div 
					class="groups fx-fade-left fx-easing-back fx-speed-500"
					ng-repeat="category in pos.categories"
					ng-show="pos.currentCategoryIndex==$index"
					style="width:{{category.groups.data.length*310+310}}px"

					>
					<div class="group" ng-repeat="group in category.groups.data">
						<h3>{{group.name}}</h3>
						<div class="items" win-height-minus="250">
							<div 
								class="item" 
								ng-class="{medium:item.size==2}"
								ng-repeat="item in group.items.data"
								hm-tap="bills.addToCurrent(item)"
								>{{item.name}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="bills" 
			ng-show="bills.opened.length>0" 
			ng-class="{open:pos.shown=='bills'}" 
			win-height-minus="85">
			<div class="holder">
				<div class="list">
					<bill
						ng-repeat="bill in bills.opened"
						bill="bill"
						ng-class="{collapsed: bills.opened[bills.current]!=bill, highlight:dragging.on}"
						draggable="bills.opened[bills.current]!=bill"
						bill-top
						></bill>
				</div>
			</div>
			
		</div>
	</div>
</div>