// bower:scss
// endbower

@import "compass/css3";
@import "compass/reset";

@import "../fonts/_icons.scss";

// @import "compass/helpers/colors";

$font-family:"Open Sans", Helvetica, Arial, sans-serif;

body {
    background: #fafafa;
    font-family: $font-family;
    color: #333;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

h1,h2,h3,h4{
    font-weight: 300;
}

.clearfix{
    width: 100%; float: none; clear: both;
}

@mixin unselectable() {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

$btn-shadow-size:4px;
$btn-shadow-shade:35;
$clr-hot-drinks:#895a48;
$clr-cold-drinks:#B9C2C9;
$clr-cocktails:#844889;
$clr-other:#999;
$clr-liqueur:#999;
$clr-money:#41921e;
$clr-dark:#575757;
$clr-darker:#494949;
$clr-grey:#a2a2a2;
$clr-blue:#1e75c6;
$clr-green:#4AB41D;
$clr-item:#FCFAE2;


.icon{
    font-weight: normal!important;
}

.btn{
    border-radius: 6px;
    box-sizing:border-box;
    display: block;
    @include transition(all .15s);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 46px;
    &.notog:active{
        @include transform(translateY(3px))
    }
    &.grey{
        background:$clr-grey;
        box-shadow:0 $btn-shadow-size 0 shade($clr-grey, $btn-shadow-shade);
        &:active{
            box-shadow: 0 1px 0 shade($clr-grey, $btn-shadow-shade);
        }
    }
    &.green{
        background:$clr-green;
        box-shadow:0 $btn-shadow-size 0 shade($clr-green, $btn-shadow-shade);
        &:active{
            box-shadow: 0 1px 0 shade($clr-green, $btn-shadow-shade);
        }
    }
    &.blue{
        background:$clr-blue;
        box-shadow:0 $btn-shadow-size 0 shade($clr-blue, $btn-shadow-shade);
        &:active{
            box-shadow: 0 1px 0 shade($clr-blue, $btn-shadow-shade);
        }
    }
}

input{
    background:#fff;
    border-radius: 3px;
    font-family: $font-family;
    font-size: 16px;
    padding: 5px;
    line-height: 20px;
    border:1px solid #ccc;
}


#pos{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}
#users{
    .bg{
        opacity: .9;
    }
    .holder{
        width: 250px;
        margin: 50px auto;
        background:#fff;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        h1{
            font-weight: bold;
            font-size: 25px;
            color: #464646;
        }
        h3{
            font-weight: normal;font-size: 20px;
            color: #696868;
        }
        .item{
            background:$clr-item;
            border-radius: 4px;
            border:1px solid #d9d9d9;
            margin-bottom: 10px;
            padding: 10px;
        }
        button{
            width: 204px;
            margin-left: 24px;
            line-height: 30px;
            outline: none;
        }
    }
    .someone-else{
        margin-top: 15px;
        display: block;
        color: $clr-blue;
    }
}
.content{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;left: 0;
}
.bg{
    background:transparent url('../images/bar-bg.jpg') left top no-repeat;
    opacity: .5;
    position: absolute;
    z-index: 0;
    left: 0;top: 0;
    width: 100%;
    height: 100%;
    @include transition(opacity .35s);
    &.highlight{
        opacity: .9;
    }
}

#topbar{
    height: 54px;
    background:#fff;
    text-align: center;
    @include unselectable;
    h1{
        font-size: 34px;
        color: #646464;
        font-weight: 400;
        line-height: 48px;
    }
    .btns{
        margin: 7px;
        position: absolute;
        right: 0;
        top: 0;
        .btn{
            height: 40px;
            min-width: 40px;
            background:rgba(124, 124, 124, 0.6);
            border-radius: 7px;
            float: left;
            margin-left: 7px;
            line-height: 40px;
            .text{
                padding: 0 10px;
            }
            &.icon_dashboard{
                font-size: 28px;
                background:#6d6d6d;
            }
        }
    }
}
#search{
    position: absolute;
    left: 111px;
    top: 7px;
    input{
        border-radius: 6px;
        background:#e9e9e9;
        border:none;
        outline:none;
        color: #fff;
        line-height: 20px;
        padding: 0 10px;
        width: 150px;
        height: 40px;
        @include transition(all .2s);
        &:hover,&:focus{
            background:#afafaf;
        }
        
    }
    &:before{
        position: absolute;
        content:"\e005";
        font-family: icons;
        color:white;
        font-size: 20px;
        top: 0px;
        right: 8px;
        line-height: 39px;
    }
}


#leftbar{
    position: absolute;
    height: 100%;
    width: 104px;
    top: 0;
    z-index: 100;
    background:$clr-dark;
    .fixer{
        margin-bottom: -3px;
    }
    .btn{
        width: 74px;
        height: 74px;
        margin-left: 14px;
        margin-top: 14px;
        border-radius: 100%;

        background-color:#313131;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow:0 $btn-shadow-size 0 shade(#313131, $btn-shadow-shade);
        &.on{
            box-shadow:0 1px 0 shade(#313131,$btn-shadow-shade);
        }

        //custom styling for category keywords
        &.hot-drinks{
            background-image:url(../images/icons/hot-drinks.png);
            background-size:120%;
        }
        &.cold-drinks{
            background-image:url(../images/icons/cold-drinks.png);
            background-size:130%;
        }
        &.cocktails{
            background-image:url(../images/icons/cocktails.png);
            background-size:120%;
        }
        &.other{
            background-image:url(../images/icons/other.png);
            background-size:120%;
        }
        &.liqueur{
            background-image:url(../images/icons/liqueur.png);
            background-size:120%;
        }

        &.on{
            box-shadow:none;
            @include transform(translateY(4px));
        }

    }
    .bottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        background:#2B2B2B;

        @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
          //ipad fix
          bottom: 105px;
        }
        .btn.newbill{
            
        }
        .btn{
            background:#fff;
            box-shadow:0 $btn-shadow-size 0 shade(#fff, $btn-shadow-shade);
            &:active{
                box-shadow: 0 1px 0 shade(#fff, $btn-shadow-shade);
            }
            margin-bottom: 15px;
        }
        .btn.newbill{
            background:url(../images/icons/plus.png) no-repeat center #fff;
        }
    }
}

//items grid sizes
$grid-single:87px;
$grid-double:180px;
$grid-margin:6px;

#list{
    float: left;
    margin-left: 105px;
    margin-top: 30px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: visible;
    @include unselectable;
    @include transition(all .2s);
    .scroll{
        overflow-x: scroll;
        overflow-y: visible;
        height: 100%;
        margin-right: 110px;
        padding-bottom: 200px;
    }
    .groups{
        height: 100%;
        float: left;
        margin-left: 40px;
    }
    &.fade{
        opacity: 0.4;
        @include transform(scale(0.9));
    }
    .group{
        float: left;
        margin-right: 30px;
        width: 280px;
        overflow: hidden;
        h3{
            font-size: 25px;
            margin-bottom: 9px;
        }
        .items{
            overflow-y: scroll;
            overflow-x: visible;
            width: 294px;
            padding-right: 30px;
        }
        .item{
            background:$clr-item;
            border-radius: 4px;
            width: $grid-single;
            height:$grid-single;
            margin-right: $grid-margin;
            margin-top: $grid-margin;
            float: left;
            box-sizing:border-box;
            font-size: 13px;
            font-weight: 700;
            padding: 10px;
            position: relative;
            border:1px solid #808080;

            .resize{
                position: absolute;
                display: none;
                width: 32px;
                height: 32px;
                top: -6px;right: -6px;
                border-radius: 100%;
                background:#444;
                color: #fff;
                @include transform(rotate(-135deg));
                line-height: 32px;
                font-size: 16px;
                text-align: center;
            }
            &.resizing{
                .resize{
                    display: block;
                }
            }

            &.medium{
                width:$grid-double;
                font-size: 16px;
                font-weight: 600;
                &:before{
                    width:($grid-double + 4px);
                }
            }
            &.large{
                width:$grid-double;
                height:$grid-double;
                .resize{
                    @include transform(rotate(45deg));
                }
            }

            &:before{
                content:" ";
                position: absolute;
                width: ($grid-single + 4px);
                height: ($grid-single + 4px);
                left: -6px;
                top: -6px;
                border-radius: 8px;
                border:4px solid #888;
                opacity: 0;
                @include transition(all .2s)
            }
            @include transition(all .2s ease-out);
            &:active{
                @include transform(scale(.9));
                // &:before{
                //     opacity: .6;
                // }
            }
        }
    }
    
    &.resizing{
        .group .item{
            @include transform(scale(.9));
            opacity: 0.8;
        }
        .group .item.resizing{
            @include transform(scale(1));
            opacity: 1;
        }
    }
    .search-results{
        .group{
            margin-left: 40px;
            width: auto;
        }
        .item{
            @include transition(all .2s cubic-bezier(0.250, 0.250, 0.000, 1.200));
            &.ng-enter{
                @include transform(translate(0,-50px));
                opacity: 0;
                margin-right: -87px;
            }
            &.ng-enter-active, &.ng-leave{
                @include transform(translate(0,0));
                opacity: 1;
                margin-right: 6px;
            }
            &.ng-leave-active{
                @include transform(translate(0,-50px));
                opacity: 0;
                margin-right: -87px;
            }
        }
    }
    
    //category specific color styling
    .hot-drinks{
        .group .item{
            background:$clr-hot-drinks;
            color: #fff;
        }
    }
    .cold-drinks{
        .group .item{
            background:$clr-cold-drinks;
        }
    }
    .hot-drinks{
        .group .item{
            background:$clr-hot-drinks;
        }
    }
    .cocktails{
        .group .item{
            background:$clr-cocktails;
        }
    }
    .other{
        .group .item{
            background:$clr-other;
        }
    }

    @include transition(all .3s);

    &.ng-hide-add, &.ng-hide-remove, &.ng-hide-add-active{
        display: block!important;
    }
    &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active, &.ng-enter{
        @include transform(translate(0,-100px));
        opacity: 0;
    }
    &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add, &.ng-enter-active{
        @include transform(translate(0));
        opacity: 1;
    }
}

.bill{
    width: 315px;
    background:rgba(255,255,255,0.95);
    position: relative;
    // overflow: hidden;
    .head{
        height: 62px;
        padding: 0 20px;
        h2{
            font-size: 24px;
            line-height: 67px;
            margin-bottom: -9px;
            cursor: pointer;
            small{
                font-size: 13px;
                font-weight: bold;
            }
        }
        .choose{
            font-style: italic;
            color: #0080e2;
            &:hover{
                color: #333;
            }
        }
        .total{
            position: absolute;
            right: 13px;
            top: 22px;
        }
    }
    .pin{
        width: 38px;
        height: 38px;
        background:$clr-dark;
        border-radius: 4px;
        position: absolute;
        right: 13px;
        top: 13px;
        text-align: center;
        line-height: 38px;
        color: #fff;
        &.pinned{
            background:#cfcfcf;
        }
    }
    .info{
        position: absolute;
        z-index: 101;
        background:#E7E7E7;
        width: 100%;
        padding: 10px;
        top: 67px;
        min-height: 400px;
        left: -10px;
        
        .tabs{
            .tab{
                height: 42px;
                background:#B1B1B1;
                font-size: 20px;
                color: #fff;
                font-weight: bold;
                padding: 0 15px;
                line-height: 42px;
                float: left;margin-right: 1px;
                &.on{
                    background:#3c3c3c;
                }
                &.x{
                    float: right;
                    width: 42px;
                    padding: 0;
                    text-align: center;
                }
            }
            width: 100%;
            height: 42px;
        }
        .tables{
            margin-left: -5px;
            width: 330px;
            .table{
                width: 96px;
                height: 60px;
                border-radius: 4px;
                border:1px solid #d9d9d9;
                font-size: 20px;
                text-align: center;
                color: #333;
                line-height: 60px;
                float: left;
                margin-right: 5px;
                margin-left: 5px;
                margin-top: 10px;
                background:rgb(250, 250, 250);
                @include transition(all .15s ease-out);
                &.remove{
                    background:#B1B1B1;
                }
                &:active{
                    background:#888;
                    color: #fff;
                }
                // @include transition(all .4s cubic-bezier(0.250, 0.250, 0.000, 1));
                &.ng-hide-add, &.ng-hide-remove, &.ng-hide-add-active{
                    display: block!important;
                }
                &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active, &.ng-enter{
                    // @include transform(perspective(340px) rotateX(90deg) scale(0.2));
                    // @include transform-origin(50%,0%);
                    // -webkit-backface-visibility: visible;
                    opacity: 0;
                    margin-right: -96px;
                }
                &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add, &.ng-enter-active{
                    opacity: 1;
                    margin-right: 5px;
                }
            }
            // div:nth-of-type(3){
            //     margin-right: 0;
            // }
        }
        .client{
            input{
                margin-top: 10px;
            }
        }

        @include transition(all .4s cubic-bezier(0.250, 0.250, 0.000, 1));
        &.ng-hide-add, &.ng-hide-remove, &.ng-hide-add-active{
            display: block!important;
        }
        &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active, &.ng-enter{
            @include transform(perspective(340px) rotateX(90deg) scale(0.2));
            @include transform-origin(50%,0%);
            -webkit-backface-visibility: visible;
        }
        &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add, &.ng-enter-active{
            @include transform(translate(0));
        }
    }
    .hider{
        width: 100%;
        overflow: hidden;
        overflow-y: visible;
        margin-top: 5px;
    }
    .scroll{
        padding: 20px;
        width: 290px;
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
    }
    .stack{
        background:#eee;
        border-radius: 4px;
        border:1px solid #d9d9d9;
        box-sizing:border-box;
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
        padding: 10px;
        .item{
            @include transition(all .4s cubic-bezier(0.250, 0.250, 0.000, 1.300));
            &.ng-hide-add, &.ng-hide-remove, &.ng-hide-add-active{
                display: block!important;
            }
            &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active, &.ng-enter{
                @include transform(translate(0,-50px));
                opacity: 0;
                margin-bottom: -55px;
            }
            &.ng-hide-remove{
                @include transition-delay(.1s);
            }
            &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add, &.ng-enter-active{
                @include transform(translate(0));
                opacity: 1;
                margin-bottom: 10px;
            }
        }
        @include transition(all .4s cubic-bezier(0.250, 0.250, 0.000, 1.300));
        &.ng-enter{
            // @include transform(translate(0,-50px));
            // opacity: 0;
            // margin-bottom: -71px;
            margin-bottom: -10px;
        }
        &.ng-enter-active{
            // @include transform(translate(0,0));
            // opacity: 1;
            margin-bottom: 10px;
        }
    }
    .item{
        background:$clr-item;
        border-radius: 4px;
        border:1px solid #d9d9d9;
        box-sizing:border-box;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        position: relative;
        height: 55px;
        overflow: hidden;
        &.expanded{
            height: 85px;
        }
        .edit{
            float: right;
            .btn{
                width: 34px;height: 34px;
                float: right;
                border-radius: 4px;
                color: #fff;
                margin-left: 8px;
                background:#a2a2a2;
                line-height: 34px;
                font-size: 20px;
                &.plus{
                    background: #44a0c9;
                    font-weight: bold;
                    font-size: 26px;
                }
                &.minus{
                    font-weight: bold;
                    font-size: 26px;
                    @include transition-delay(.05s);
                }
                &.del{
                    @include transition-delay(.1s);
                }
                &.group{
                    @include transition-delay(0.15s)
                }

                @include transition(all .15s);

                &.ng-hide-add, &.ng-hide-remove, &.ng-hide-add-active{
                    display: block!important;
                }
                &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active, &.ng-enter{
                    @include transform(translate(0,-50px));
                }
                &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add, &.ng-enter-active{
                    @include transform(translate(0));
                }
            }
        }
        .quan{
            color: #858585;
            font-size: 13px;
            font-weight: bold;
            // float: left;
            width: 100%;
            height: 13px;
            position: absolute;
            bottom: 30px;
            .in{
                position: absolute;
                left: 0;
                top: 0;
                padding: 0!important;
                @include transition(all .15s);
                &.change-up{
                    @include transform(scale(1.3));
                    color:orange;
                }
            }
        }
        .name{
            font-size: 20px;
            bottom: 10px;
            position: absolute;
            height: 20px;
            overflow: hidden;
        }
        .price{
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-size: 20px;
            color: $clr-money;
            font-weight:600;
            padding-left: 5px;
            background:$clr-item;
        }

        
        .groupcheck{
            display: none;
        }
        &.grouping{
            .quan{
                margin-left: 25px;
            }
            .name{
                margin-left: 25px;
            }
            .groupcheck{
                display: block;
            }
        }
        &.group{
            background:rgb(235, 238, 240);
            .price{
                background:rgb(235, 238, 240);
            }
            .groupcheck{
                display: none;
            }
            .quan{
                margin-left: 0;
            }
            .name{
                margin-left: 0;
            }
        }

        @include transition(all .4s cubic-bezier(0.250, 0.250, 0.000, 1.300));
        &.ng-enter{
            @include transform(translate(0,-50px));
            opacity: 0;
            margin-bottom: -55px;
        }
        &.ng-enter-active, &.ng-leave{
            @include transform(translate(0,0));
            opacity: 1;
            margin-bottom: 10px;
        }
        &.ng-leave-active{
            @include transform(translate(0,-50px));
            opacity: 0;
            margin-bottom: -55px;
        }
        &.ng-leave-active.expanded{
            margin-bottom: -85px;
        }
    }

    .total{
        float: right;
        color: $clr-money;
        font-weight: 600;
        font-size: 26px;
        text-align: right;
        margin-right: 10px;
        .cap{
            font-weight: bold;
            font-size: 13px;
            color: #858585;
        }
    }
    .opened-stack{
        position: relative;
    }
    .group-click{
        position: absolute;
        height: 100%;
        width: 30px;
        left: 0;
        top: 0;
        z-index: 999;
    }
    
    .step2{
        .cap{
            margin-top: 15px;
        }
        input{
            border-color:#e1b856;
            text-align: right;
            font-weight: bold;
            width: 130px;
            color: #838383;
            font-size: 24px;
        }
        position: absolute;
        right:15px;
        top: 10px;
    }
    .bottom{
        position: absolute;
        bottom: 10px;
        padding: 20px 0;
        background:$clr-darker;
        width: 100%;

        .half{
            width: 50%;
            float: left;
            .btn{
                margin: 0 20px;
            }
        }
        .half:nth-of-type(1){
            .btn{
                margin-right:10px;
            }
        }
        .half:nth-of-type(2){
            .btn{
                margin-left:10px;
            }
        }
        
        .btn.close{
            float: left;
            width: 216px;
            height: 46px;

        }
        .btn.cancel{
            float: left;
            margin-right: 17px;
            margin-left: 20px;
            line-height: 40px;
            width: 46px;
            height: 46px;
            font-size: 25px;
            .icon{
                @include transition(all .2s);
            }
        }

        &.editgroup{
            input{
                background:#8B8B8B;
                border:none;
                float: left;
                margin-right: 10px;
                line-height: 36px;
                color: white;
                &.name{
                    width: 130px;
                    margin-left: 20px;
                }
                &.money{
                    width: 50px;
                    text-align: right;
                }
            }
            .ok{
                float: left;
                width: 54px;
            }
        }

        @include transition(all .5s);

        &.ng-hide-add, &.ng-hide-remove, &.ng-hide-add-active{
            display: block!important;
        }
        &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active, &.ng-enter{
            @include transform(translate(0,100px));
        }
        &.ng-hide-remove{
            @include transition-delay(.2s);
        }
        &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add, &.ng-enter-active{
            @include transform(translate(0));
        }
    }
    .step{
        @include transition(all .5s);
        &.ng-hide-add, &.ng-hide-remove, &.ng-hide-add-active{
            display: block!important;
        }
        &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active, &.ng-enter{
            @include transform(translate(300px,0));
            opacity: 0;
        }
        &.ng-hide-remove{
            @include transition-delay(.2s);
        }
        &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add, &.ng-enter-active{
            @include transform(translate(0));
            opacity: 1;
        }
    }
    @include transition(all .4s cubic-bezier(0.250, 0.250, 0.000, 1.300));
    
    &.static{
        @include transition(all 0s, top .4s cubic-bezier(0.250, 0.250, 0.000, 1.300));
    }

    &.ng-enter{
        @include transform(translate(320px,0));
        opacity: 0;
    }
    &.ng-enter-active, &.ng-leave{
        @include transform(translate(0,0));
        opacity: 1;
    }
    &.ng-leave-active{
        @include transform(translate(320px,0));
        opacity: 0;
    }
}

#bills{
    position: absolute;
    right:10px;
    top: 100%;
    margin-top: -70px;
    width: 100%;
    z-index: 98;
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
      margin-top: -90px;
    }
    .holder{
        height: 100%;
    }
    .list{
        right: 0;
        position: absolute;
    }
    .bill{
        position: absolute;
        border-radius: 6px;
        @include unselectable;
        
        &.highlight{
            background:rgba(255,255,255,0.9);
        }
        &.collapsed{
            top: 3px !important;
        }
    }
    

    &.open{
        .bill{
            .bottom{
                .btn.cancel .icon{
                    @include transform(rotate(-90deg));
                }
            }
        }
    }

    @include transition(all .4s);

    &.ng-hide-add, &.ng-hide-remove, &.ng-hide-add-active{
        display: block!important;
    }
    &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active, &.ng-enter{
        @include transform(translate(0,70px));
        opacity: 0;
    }
    &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add, &.ng-enter-active{
        @include transform(translate(0));
        opacity: 1;
    }
}

.dropdown{
    position: absolute;
    right: 15px;
    top:65px;
    z-index: 99999;
    
    padding: 20px;
    background:#AFAFAF;
    border-radius: 8px;

    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    text-align: left;

    a{
        display: block;
        color: #fff;
        text-decoration: none;
        min-width: 200px;
    }
}