// bower:scss
// endbower

@import "compass/css3";
@import "compass/reset";

@import "../fonts/_icons.scss";

// @import "compass/helpers/colors";

body {
    background: #fafafa;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #333;
}

h1,h2,h3,h4{
    font-weight: 300;
}

.clearfix{
    width: 100%; float: none; clear: both;
}


.btn{
    border-radius: 6px;
    box-sizing:border-box;
    display: block;
    @include transition(all .15s);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 46px;
    &:active{
        @include transform(translateY(3px));
    }
}


#pos{
    position: absolute;
    width: 100%;
    height: 100%;
    background:transparent url('../images/barbg.jpg') left top no-repeat;
    overflow: hidden;
}

#topbar{
    height: 85px;
    background:rgba(0,0,0,0.6);
    text-align: center;
    h1{
        font-size: 44px;
        color: #fff;
        font-weight: 300;
        line-height: 77px;
    }
    .btns{
        margin: 14px;
        position: absolute;
        right: 0;
        top: 0;
        .btn{
            height: 55px;
            min-width: 55px;
            background:rgba(0,0,0,0.6);
            border-radius: 7px;
            float: left;
            margin-left: 14px;
        }
    }
}

$btn-shadow-size:4px;
$btn-shadow-shade:35;
$clr-hot-drinks:#895a48;
$clr-cold-drinks:#ffb273;
$clr-cocktails:#844889;
$clr-other:#999;
$clr-money:#41921e;

#leftbar{
    position: absolute;
    height: 100%;
    width: 104px;
    top: 85px;
    background:rgba(255,255,255,0.55);

    .btn{
        width: 74px;
        height: 74px;
        margin-left: 14px;
        margin-top: 14px;

        //custom styling for category keywords
        &.hot-drinks{
            background:$clr-hot-drinks;
            box-shadow:0 $btn-shadow-size 0 shade($clr-hot-drinks, $btn-shadow-shade);
            &:active, &.on{
                box-shadow: 0 1px 0 shade($clr-hot-drinks, $btn-shadow-shade);
            }
        }
        &.cold-drinks{
            background:url(../images/icons/beer.png) no-repeat center -8px $clr-cold-drinks;
            background-size:100%;
            box-shadow:0 $btn-shadow-size 0 shade($clr-cold-drinks, $btn-shadow-shade);
            &:active, &.on{
                box-shadow: 0 1px 0 shade($clr-cold-drinks, $btn-shadow-shade);
            }
        }
        &.cocktails{
            background:$clr-cocktails;
            box-shadow:0 $btn-shadow-size 0 shade($clr-cocktails, $btn-shadow-shade);
            &:active, &.on{
                box-shadow: 0 1px 0 shade($clr-cocktails, $btn-shadow-shade);
            }
        }
        &.other{
            background:$clr-other;
            box-shadow:0 $btn-shadow-size 0 shade($clr-other, $btn-shadow-shade);
            &:active, &.on{
                box-shadow: 0 1px 0 shade($clr-other, $btn-shadow-shade);
            }
        }

        &.on{
            box-shadow:none;
            @include transform(translateY(4px));
        }

    }
    .bottom{
        position: absolute;
        bottom: 85px;
        width: 100%;
        background:#8B8B8B;
        .btn.newbill{
            
        }
        .btn{
            background:#fff;
            box-shadow:0 $btn-shadow-size 0 shade(#fff, $btn-shadow-shade);
            &:active{
                box-shadow: 0 1px 0 shade(#fff, $btn-shadow-shade);
            }
            margin-bottom: 15px;
        }
        .btn.newbill{
            background:url(../images/icons/plus.png) no-repeat center #fff;
        }
    }
}

//items grid sizes
$grid-single:87px;
$grid-double:180px;
$grid-margin:6px;

#list{
    float: left;
    margin-left: 145px;
    margin-top: 30px;
    .group{
        float: left;
        margin-right: 30px;
        width: 280px;
        h3{
            font-size: 25px;
            margin-bottom: 15px;
        }
        .items{
            .item{
                background:#fff;
                border-radius: 4px;
                width: $grid-single;
                height:$grid-single;
                margin-right: $grid-margin;
                margin-bottom: $grid-margin;
                float: left;
                box-sizing:border-box;
                font-size: 13px;
                font-weight: 700;
                padding: 10px;
                position: relative;

                &.medium{
                    width:$grid-double;
                    font-size: 16px;
                    font-weight: 600;
                    &:before{
                        width:($grid-double + 4px);
                    }
                }
                &.large{
                    width:$grid-double;
                    height:$grid-double;
                }

                &:before{
                    content:" ";
                    position: absolute;
                    width: ($grid-single + 4px);
                    height: ($grid-single + 4px);
                    left: -6px;
                    top: -6px;
                    border-radius: 8px;
                    border:4px solid #888;
                    opacity: 0;
                    @include transition(all .2s)
                }
                @include transition(all .2s ease-out);
                &:active{
                    @include transform(scale(1.1));
                    // &:before{
                    //     opacity: .6;
                    // }
                }
            }
        }
    }
}

#rightbar{
    position: absolute;
    height: 100%;
    top: 85px;
    right: 0;
    .bill{
        width: 315px;
        margin-bottom: 90px;
        background:rgba(255,255,255,0.55);
        height: 100%;
        position: absolute;
        top: 0;right: 0;
        .scroll{
            height: 100%;
            overflow-y: scroll;
        }
        .in{
            padding: 20px;
        }
        .items{

        }
        .item{
            @include transition(all .4s cubic-bezier(0.250, 0.250, 0.000, 1.300));
            &.ng-enter{
                @include transform(translate(0,-50px));
                opacity: 0;
                margin-bottom: -55px;
            }
            &.ng-enter-active, &.ng-leave{
                @include transform(translate(0,0));
                opacity: 1;
                margin-bottom: 10px;
            }
            &.ng-leave-active{
                @include transform(translate(0,-50px));
                opacity: 0;
                margin-bottom: -55px;
            }
        }
        @include transition(all .4s cubic-bezier(0.250, 0.250, 0.000, 1.300));
        &.ng-hide-add, &.ng-hide-remove, &.ng-hide-add-active{
            display: block!important;
            
        }
        &.ng-hide-remove, &.ng-hide-add.ng-hide-add-active, &.ng-enter{
            @include transform(perspective(315px) rotateY(-40deg) translate(315px,0));
            @include transform-origin(100%,50%);
            -webkit-backface-visibility: visible;
        }
        &.ng-hide-remove.ng-hide-remove-active, &.ng-hide-add, &.ng-enter-active{
            @include transform(translate(0));
        }
        &.ng-enter{
            -webkit-transition-delay: .3s;
        }


    }

}

.bill{

    .items{

    }
    .item{
        background:#fff;
        border-radius: 4px;
        border:1px solid #d9d9d9;
        box-sizing:border-box;
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        position: relative;
        .quan{
            color: #858585;
            font-size: 13px;
            font-weight: bold;
            float: left;
            @include transition(all .15s);
            &.change-up{
                @include transform(scale(1.3));
                color:orange;
            }
        }
        .name{
            font-size: 20px;
            clear: left;
        }
        .price{
            position: absolute;
            right: 10px;
            bottom: 10px;
            font-size: 20px;
            color: $clr-money;
            font-weight:600;
        }
    }

    .total{
        float: right;
        color: $clr-money;
        font-weight: 600;
        font-size: 26px;
        text-align: right;
        margin-right: 10px;
        .cap{
            font-weight: bold;
            font-size: 13px;
            color: #858585;
        }
    }

    .bottom{
        position: absolute;
        bottom: 0;
        padding: 20px;
        
        .btn.close{
            float: left;
            width: 196px;
            height: 46px;
            background:$clr-money;
            box-shadow:0 $btn-shadow-size 0 shade($clr-money, $btn-shadow-shade);
            &:active{
                box-shadow: 0 1px 0 shade($clr-money, $btn-shadow-shade);
            }

        }
        .btn.cancel{
            float: left;
            margin-right: 17px;
            width: 46px;
            height: 46px;
            background:#a2a2a2;
            box-shadow:0 $btn-shadow-size 0 shade(#a2a2a2, $btn-shadow-shade);
            font-size: 25px;
            &:active{
                box-shadow: 0 1px 0 shade(#a2a2a2, $btn-shadow-shade);
            }
        }
    }
}