<div class="bill" 
	win-height-minus="55"
	>
	<div class="head"
	hm-dragstart="dragStart()"
	hm-dragup="dragUp($event)"
	hm-dragdown="dragDown($event)"
	hm-dragend="dragEnd()">
		<h2 hm-tap="tapHead()">
			<div ng-hide="bill.table!=null||bill.client.length>0" class="choose">Choose a table</div>
			<div ng-show="bill.table!=null">Table {{bill.table.name}} <small>{{bill.client}}</small></div>
			<div ng-show="bill.table==null&&bill.client.length>0">{{bill.client}}</div>
		</h2>
		<div 
			class="pin icon icon_pushpin" 
			ng-class="{pinned:draggable}" 
			hm-tap="$parent.bills.pin(bill)">
		</div>
		<hr>
	</div>
	<div class="info" ng-show="info" ng-init="infotab=1">
		<div class="tabs">
			<div class="tab" ng-class="{on:infotab==1}" hm-tap="infotab=1">table</div>
			<div class="tab" ng-class="{on:infotab==2}" hm-tap="infotab=2">client</div>
			<div class="tab x" hm-tap="info=false;"></div>
		</div>
		<div class="tables" ng-show="infotab==1">
			<div class="table" ng-repeat="table in tables" hm-tap="setTable(table)">{{table.name}}</div>
		</div>
		<div class="client" ng-show="infotab==2">
			<input type="text" ng-model="bill.client">
		</div>
	</div>
	<div class="hider">
		<div class="scroll scrollme" win-height-minus="290" scrollbottom>
			<div class="in">
				<div class="step1 step" ng-hide="step2">
					<div class="closed-stacks">
						<div class="stack" ng-repeat="stack in bill.closedStacks" hm-tap="stack.expanded=!stack.expanded">
							<div class="items">
								<div class="item" ng-show="stack.expanded" ng-repeat="item in stack.items track by item.index">
									<div class="quan"><div class="in" animate-on-change="item.quantity">{{item.quantity}}x</div></div>
									<div class="name">{{item.name}}</div>
									<div class="price">{{item.price*item.quantity | money}}</div>
								</div>
							</div>
							<div class="total"><div class="cap">total</div>{{stack.total | money}}</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div 
						class="opened-stack"
						>
						<div 
							class="item" 
							hm-tap="expand[$index]=!expand[$index]" 
							ng-repeat="item in bill.openedStack.items track by item.index"
							ng-class="{expanded:expand[$index]}"
							>
							<div class="edit">
								<div ng-show="expand[$index]" class="btn del icon icon_bin" hm-tap="bill.remove(item);expand[$index]=false;"></div>
								<div ng-show="expand[$index]" class="btn minus" hm-tap="item.quantity=item.quantity-1">-</div>
								<div ng-show="expand[$index]" class="btn plus" hm-tap="item.quantity=item.quantity+1">+</div>
							</div>
							<div class="quan"><div class="in" animate-on-change="item.quantity">{{item.quantity}}x</div></div>
							<div class="name">{{item.name}}</div>
							<div class="price">{{item.price*item.quantity | money}}</div>
						</div>
					</div>
					<div class="total"><div class="cap">total</div>{{bill.total() | money}}</div>
				</div>
				<div class="step2 step" ng-show="step2">
					<div class="total">
						<div class="cap">total</div>
						{{bill.total() | money}}
						<div class="clearfix"></div>
						<div class="cap">received</div>
						<input id="received-input" type="text" ng-model="received" currency>
						<div class="clearfix"></div>
						<div class="cap">change</div>
						{{received - bill.total() | money}}
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="bottom" ng-hide="step2">
		<div class="btn cancel icon icon_bin" hm-tap="$parent.bills.cancel(bill)"></div>
		<div class="btn close" hm-tap="toStep2()" ng-show="readyToClose()">CLOSE</div>
		<div class="btn close" hm-tap="bill.closeStack()" ng-hide="readyToClose()">TOTAL</div>
	</div>
	<div class="bottom" ng-show="step2">
		<div class="btn cancel" hm-tap="step2=false;"></div>
		<div class="btn close" hm-tap="$parent.bills.close(bill)">COMPLETE</div>
	</div>
</div>